#demo_content {
    text-align: center;
}

#demo_content .spinner {
    float: none;
}

#demo_content .updated-message,
#demo_content .spinner {
    display: none;
}

#demo_content .spinner.is-active {
    display: inline-block;
}

#demo_content p {
    width: initial;
}

.newsmag-media-control img {
    width: 100%;
    height: auto;
}

.logo_heading {
    display: block;
    width: 100%;
}